<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>Drink Suggestion Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 700px;
            margin: 30px auto;
            padding: 20px;
            border-radius: 10px;
        }
        p{
            color: #1c0e13;
        }
        h2 {
            color: #4caf50;
        }
        .result-box {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            border: 1px solid #ddd;
            white-space: pre-line;
        }
    </style>
</head>
<body>
<h2>Your Drink Suggestion</h2>
<div class="result-box">
    <p th:text="${response}"></p>
</div>
<a href="winePreferencesFormBuy">ia choose another</a>
<a th:href="${shopLink}" target="_blank" class="button">Знайти і купити на Winetime</a>
<footer>
    <p>© 2024 Wine & Spirits Finder</p>
</footer>
</body>
</html>
